<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="scripts">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/static/dist/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/static/dist/css/style.css}" rel="stylesheet">
    <link th:href="@{/static/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css}" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <link type="text/css" th:href="@{/static/assets/extra-libs/prism/prism.css}"  rel="stylesheet">
    <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/dist/js/app-style-switcher.js"></script>
    <script src="/static/dist/js/feather.min.js"></script>
    <script src="/static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/assets/extra-libs/sparkline/sparkline.js"></script>

    <script src="/static/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/dist/js/pages/datatable/datatable-basic.init.js"></script>
    <script src="/static/dist/js/sidebarmenu.js"></script>
    <script src="/static/dist/js/custom.min.js"></script>
    <script src="/static/assets/extra-libs/prism/prism.js"></script>


</th:block>
</body>
</html>